.FilterBlock{
    display: flex;
    border: 2px solod black;
}
.DivFieldBlock{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 200px;
 
}
p{
  display: flex;
  margin: 0px;
}