.IsShopFrame
{
  display: flex;
  flex-direction: column;
  border: double gray 3px;
  width: 600px;
  margin: 30px auto;
  padding: 3px 7px;
  background-color: #F0F0F0;
}
h1{
  text-align: center;
}

.ItemDiv{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
}

.Item{
  display: flex;
  flex-direction: column;
  width: 25%;
  border: solid 2px red;
  margin-left: 5px ;
  text-align: center;
 }
    .divNameItem{
      background-color: coral;
      font-size: 22px;
      color : chartreuse;
    } 
 .dataItem{
   background-color: peachpuff;
 }   

 .ItemDiv:first-child {
  margin-left : none;
 }

.photo{
  display: flex;
  border: solid 2px green;
  height: 100px;
}
 .img{
   width: 100%;
 }

.divModelItem{
  font-size: 22px;
  color: blueviolet;
}

.divCost{
  font-size: 20px;
  color: green;
}
